#root {
  max-width: none;
  margin: 0;
  width: 100%;
}
body {
  font-family: Inter, system-ui, Arial;
  margin:0;
  background:#050a16;
  color:#111;
  overflow: hidden;
}
input, button {
  font-family: inherit;
}
