.prediction-list-container {
    font-family: Arial, sans-serif;
}

h3 {
    margin-bottom: 16px;
}

.period-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.period-buttons button {
    padding: 8px 16px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    color: #333;
}

.period-buttons button:hover {
    background: #f3f4f6;
}

.period-buttons button.active {
    background: #2563eb;
    color: white;
    border-color: #2563eb;
}

.prediction-table {
    width: 100%;
    height: 300px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.prediction-table th,
.prediction-table td {
    padding: 7px 10px;
    text-align: left;
}

.prediction-table th:first-child {
    border-top-left-radius: 10px;
}

.prediction-table th:last-child {
    border-top-right-radius: 10px;
}

.prediction-table th {
    background-color: #1f2937;
    color: white;
    font-weight: 500;
}

.prediction-table tr:nth-child(even) {
  background-color: #f3f4f6;
}

.prediction-table tr:hover {
  background-color: #e5e7eb;
}
